*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif; //400,500,600,700
    font-weight: 400;

    width: 100vw;

    background-color: $Red;
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}



@media only screen and (min-width : 768px){
    body{
        
        height: 100vh;
        background-image: url(../images/bg-intro-desktop.png);
        
    }
}





